<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Map</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
    <%- include('partials/_header') %>

<!--Container for MY MAPS
needs edit and delete buttons
for delete button: <method: delete, action "/maps:id">
-->
    <div class="list_container">
      <section id="my_maps_container"></section>
      <!--In here, the user's maps will be populated. Once sample maps are here, we can apply the buttons for edit and delete-->
      <main style="margin: 1em;">
        <h3>Maps Created By Me</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Map Name</th>
              <th scope="col">Map Category</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <% for(let map of maps) { %>
            <tr>
              <td><a  href="/maps/<%= map.id%>"><%= map.name %></a></td>
              <td><%= map.category.charAt(0).toUpperCase()+map.category.slice(1) %> </td>
              <td>
                <form method="GET" action="/maps/<%=map.id%>/edit/">
                  <button type="submit" class="btn btn-outline-primary">Edit</button>
                </form>
              <td>
                <form method="POST" action="/maps/<%= map.id%>">
                  <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </main>

    </div>
<!--Container for Favorited MAPS-->
    <div class="list_container">
      <section id="my_favs_container"></section>
      <!--Data for the maps that the user has favorited will go here.-->
      </section>
    </div>

      <!-- Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
      </section>
<!--CUT STUFF FROM TWEETER, USEFUL FOR DELETION:
<div class="my_map_functions">
  <button id="button" type="submit">Express</button>
  <output name="counter" class="counter" for="tweet-text">140</output>
</div>-->








  </body>
</html>
